
@media (max-width: 991px) {
body,html {
overflow-x: hidden;
}
}
@media (max-width: 767px) {
 body,html {
overflow-x: hidden;
}
.site-logo,
.headerright {
	text-align:center;
}
#panel input {
width:100%;
}
.payment-system {
    margin-left: 0%!important;
}
}

